* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #fdfcfb, #f3e6f5, #d4e4f7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 1280px;
  display: flex;
  justify-content: space-between;
}


section {
  width: 1280px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 2rem;
}

#messages {
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  & > li {
    padding: 0.5rem 1rem;
    background-color: var(--accent);
    border-radius: 5px;
    width: max-content;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  & > li.message.web {
    align-self: flex-end;
    background-color: rgb(77, 111, 223);
    & > span {
      color: #071853;
    }

    & > svg {
      stroke: #071853;
    }
  }

  & > li.message.whatsapp {
    align-self: flex-start;
    background-color: rgb(121, 255, 121);

    & > span {
      color: rgb(0, 70, 30);
    }

    & > svg {
      stroke: rgb(0, 70, 30);
    }
  }
}

form {
  display: flex;
  align-items: center;
  width: 60%;
  position: relative;
  margin-bottom: 20px;

}

input {
  border-radius: 5px;
  border: none;
  height: 2rem;
  width: 100%;
  padding: 0px 10px;
  font-size: 1rem;
}

.send-button {
  border-radius: 5px;
  border: none;
  height: 2rem;
  padding: 0px 10px;
  position: absolute;
  right: 0;
  background-color: transparent;
  cursor: pointer;
}

.add{
  border: none;
  background-color: transparent;
  cursor: pointer;
}